* { //default values across the website
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

//  importing mixins
@import './components/sidebar';
@import './components/portrait_container';
@import './components/blog_sizing';
@import './components/top-center-titles';
@import './components/mobile';


body .background { //apply background gradiant to whole page
    background: linear-gradient(to top, rgb(222, 247, 222) 0%, rgb(206, 219, 206) 30%, #dfe9e4 100% );
    // background: linear-gradient(to top, rgb(160 199 234) 0%, rgb(134 187 236) 30%, #c7d4f1 100%); //couldnt get the blue to work 
}

body p { //styling for p tag everywhere
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

footer { //footer spacing 
    margin-left: 18vw;
    padding: 3%;
    border-top: 1px solid rgb(182, 181, 181);
    @include margin-left-none
}

// landing content for home.html

// need to specify margin left for the static sidebar (i think)

.landing-container { // alighment for homepage contents
    margin-left: 20vw;
    margin-right: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse; //flip the display for image and text
    @include home-page-mobile;
}

.landing-container .landing-info { //sizing for contents + varying background for a bit of depth
    width: 50%;
    background: linear-gradient(to top, rgb(222, 247, 222) 0%, rgb(206, 219, 206) 30%, #dff1e4 100% );
    // background: linear-gradient(to top, rgb(160 199 234) 0%, rgb(134 187 236) 30%, #c7d4f1 100%);
    border-radius: 8px;    
    border: 1px solid rgb(62, 83, 71);
    box-shadow: 0 0 4px rgb(135, 168, 142, 0.5); // give a bit more depth to the home page with shadows
}

.landing-info h1 { // styling header on homepage + spacing
    padding: 2%;
    border-bottom: 1px solid rgb(182, 181, 181); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-info p { //spacing for text
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4%;
    line-height: 2rem;
}

.landing-info aside { //spacing and styling for aside element
    width: 40%;
    float: left;
    font-style: italic;
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);;
}

.landing-image { //attempt to have the landing image fit better 
    width: 80%;
    margin-top: 25%;
    border-radius: 4px;
    border: 1px solid black;
}

// About layout

.summary-container { //spacing for the About page layout - left bar is static on scrollable pages
    margin-left: 22vw;
    @include margin-left-none;  
}

.summary-content .summary-info {  //have the info use 50% of the space
    width: 50%;
}

.career-images { //have the image reduced by 50%
    width: 50%;
    border: 1px solid black;
}

.about-title { //styling for h1/title
    padding: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    @include Blog-post-for-mobile;
}

.intro-content {  //spacing for text container atop the page
    margin-top: 80px;
    line-height: 2rem;
    padding-right: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.summary-content { //spacing and positioning for image and text 
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10%;
    margin-right: 5%;
    line-height: 2rem;
    @include About-page-mobile;
}

.summary-content:not(:last-child) { //dont include a bottom border for last child (it overlaps with the border from the footer)
    border-bottom: 1px solid rgb(182, 181, 181);
}

.summary-info h4{ //spacing and positioning for h4
    @include top-center-text;
}

.summary-info p { //spacing and positioning for p
    @include top-center-text;
}

// blog layout

.blogs-container { //margin for contents
    margin-left: 22vw;
    @include Adjust-for-mobile;
}

.blog-info { // padding to create space between and tighten the images
    padding: 4%;
}

.blogs-container h1 { //spacing and positioning 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.blog-info h3{ //spacing and positioing for h3
    @include top-center-text;
    margin-bottom: 3%;
    // font-size: 20px
}

// note to self: need to fix clickable link to only be for image and not whole area :( 

.blog-info img{ //sizing for blog images + positioning 
    @include blog_images;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

.blog-info img:hover { //create shadow effect on mouseover for images
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3); 
}

.blog-info p{ //spacing + positioning for p
    @include center-text;
    padding: 2%;
    font-weight: 300;
}

.blog-info .date { //boder between containers udner the date
    border-bottom:  1px solid rgb(182, 181, 181);
}

// contacts page

.contact-container { //spacing content away from fixed sidebar
    margin-left: 18vw;
    height: 100vh;
    @include Adjust-for-mobile;
}

.contact-container h1 { //positioning and padding for h1
    @include center-text;
    padding-top: 10%;
}

.contact-info { //simple border to frame cntent
    border-bottom: 1px solid rgb(182, 181, 181);
}

.contact-info p { //more positioning and spacing
    padding-top: 8%;
    padding-bottom: 4%;
    @include center-text;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.contact-info ul { //position images apart 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-info li { //more positioning 
    padding-top: 5%;
    @include center-text;
}

.contact-social-icon img{ //sizing + border radius needed for mouseover shadows
    width: 100px;
    height: 100px;
    @include contact-mobile-icons;
    border-radius: 55%;
}

.contact-social-icon img:hover{ //mouse over shadows for images
    // filter:invert(100); //github invert doesnt suit
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);;
}

// list of blogs / blog collections page

.blog-post-container { //position content away from static sidebar
    margin-left: 18vw;
}

.blog-images { //sizing and border
    width: 80%;
    border: 1px solid black;
}

.blog-content { //positioning and spacing 
    display: flex;
    flex-direction: row-reverse;
    line-height: 2rem;
    padding: 10%;
    @include Blog-post-for-mobile;
}

.blog-content:not(:last-child) { //dont include last child with a boarder (overlaps with footer)
    border-bottom: 1px solid rgb(182, 181, 181); // border overlaps with the footer border 
}

