// applied to sidebar to disappear for mobile usage

@mixin hide-for-mobile {
    @media (max-width: 768px) {
        display: none;
    }
}

// remove the margin for containers 

@mixin margin-left-none {
    @media (max-width: 768px) {
        margin-left: 0%;
        padding: 10%;
    }
}

// mixin for top narbar

@mixin header-container-mobile {
    @media (max-width: 768px) {
        width: 100%;
        padding: 0.5rem;
        height: auto;
        position: relative;
        border-radius: 0;
        border: none;  //remove the border lines from desktop view
        border-bottom: 1px solid rgb(196, 194, 194);
        display: block;
        background: linear-gradient(to top, rgb(215, 230, 215) 0%, rgb(206, 219, 206) 30%, #dff1e4 100% );
    }
}

@mixin mobile-header-buttons-li {
    @media (max-width: 768px) {
        display: block;
        padding: 15px;
        margin: 8px 8px; 
    }
}

@mixin mobile-header {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 8px;
        // background-color: #3776ab;

    }
}

// Homepage 

@mixin home-page-mobile {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column; 
        margin: auto;
        height: 100%;
        padding-bottom: 10%;
            .image-container img {
                width: 50%;
            }
            .landing-info {
                margin-top: 20%;
            }
            .landing-info aside {
                margin-top: 10%;
                width: 100%;
            }
    }
}


// About Page

@mixin About-page-mobile {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }
}

// Blogs and Contact page correction for mobile

@mixin Adjust-for-mobile {
    @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin Blog-post-for-mobile {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0%;
    }
}

// contacts page

@mixin contact-mobile-icons {
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}