@mixin hide-for-mobile {  // applied to sidebar to disappear for mobile usage
    @media (max-width: 768px) {
        display: none;
    }
}

@mixin margin-left-none { // remove the margin for containers 
    @media (max-width: 768px) {
        margin-left: 0%;
        padding: 10%;
    }
}

@mixin mobile-width { // change the veiw width for mobile
    @media (max-width: 768px) {
        width: 100%;
    }
}

// header for mobile - ran out of time to be creative :( 

@mixin header-container-mobile {
    @media (max-width: 768px) {
        width: 100%;
        padding: 0.5rem;
        height: auto;
        position: relative;
        border-radius: 0;
        border: none;  //remove the border lines for mobile view
        border-bottom: 1px solid rgb(196, 194, 194);
        display: block;
        background: linear-gradient(to top, rgb(215, 230, 215) 0%, rgb(206, 219, 206) 30%, #dff1e4 100% );  //reuse background color 
    }
}

@mixin mobile-header-buttons-li { //button spacing and position
    @media (max-width: 768px) {
        display: block;
        padding: 15px;
        margin: 8px 8px; 
    }
}

@mixin mobile-header { //spacing for mobile header
    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 8px;
        padding: 0;
        // background-color: #3776ab;
    }
}

// Homepage 

@mixin home-page-mobile { //resizing for homepage, centralized the contents of the page
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column; //changed the orientation from row to column so content isnt to squished
        margin: auto;
        height: 100%;
        padding-bottom: 10%;
            .image-container img {
                width: 100%;
            }
            .landing-info {
                margin-top: 20%;
            }
            .landing-info aside {
                margin-top: 10%;
                width: 100%;
            }
    }
}

// About Page

@mixin About-page-mobile {  //more centering
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column; //changed the orientation from row to column so content isnt to squished
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }
}

// Blogs and Contact page correction for mobile

@mixin Adjust-for-mobile { //centralize content
    @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin Blog-post-for-mobile { //change orientation and correct the margin left
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0%;
    }
}

// contacts page

@mixin contact-mobile-icons {  //sizing for mobile view
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}