@import './mobile';

//this was the first thing I created and have learned a lot since please be nice :( 
@mixin portrait-container {  //not sure why I made this a mixin but here we are
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 45px;
    margin-right: 35px;
    // overflow: hidden;
    position: relative;
    display: inline-block;
    @include hide-for-mobile()
}

.portrait-container { //positioning and styling for my portrait 
    @include portrait-container; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/me.jpg'); //include image and set it as the background
    background-position: top;
    background-size: cover; // set the image to fit portrait container 
}

.portrait-container:hover { // slightly grey portrait
    transition: filter 0.6s ease;
    filter: grayscale(40%);
}

.portrait-container:hover .hoverable { // mouseover for my social icons to appear
    transition: opacity 1s ease;
    opacity: 1;
}

.social-icon { //positioning for social icons + make their opacity 0 to hide them
    img {
        width: 100%;
    }
    width: 55px;
    height: 50px;
    opacity: 0;
    margin: 0 10px;
}


